@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body 
{
    margin: 0;

    font-family: "Poppins", sans-serif;
    font-weight: 400;

    background-color:  #391c5d;
    color:#f1f1a6;
    
}
/*Início header*/
header
{
    position: relative;
    padding: 0.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    align-content: center;
    background-color:#391c5d;
    position: sticky;
    top: 0;
    z-index: 1;

}
header .logo
{
    display: flex;
    margin-left: 0.8rem;
    align-items: center;
    justify-content: left;
}
header img
{
    width: 3.37rem;
    margin: 0.4rem 0;    
}
header .logo h1
{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    display: inline-block;
    margin: 0.65rem;
    font-size: 1.87rem;
    
}

#menu-btn {
    display: none;
    width: 3.8rem;
    height: 3.8rem;
    background-color: #3f1d63;
    border: none;
    border-radius: 1.2rem;
    justify-self: end;
    margin-right: 1.5rem;

    padding: 0 0.8rem 0.6rem 0.8rem;
    cursor: pointer;
}

#menu-btn span {
    display: block;
    width: 100%;

    margin-top: 0.38rem;
    height: 0.29rem;
    background-color: #f1f1a6;
    border-radius: 999px;
}
header nav
{
    justify-items: right;
    margin-right: 0.8rem;
}
header nav ul
{
    list-style-type: none;
    padding: 0px;
    display: flex;
    gap: 5vw;
}

header a
{
    color: #f1f1a6;
    font-size: 1.1rem;
    text-decoration: none;
    margin-right: 1.8vw;

    font-family: "Poppins", sans-serif;
    font-weight: 600;
    opacity: 0.9;

}
header a:hover
{
    color:#ffd23f;
    transition: 0.3s;
}

/* fim header */


/* inicio main*/

/*inicio home*/

#home
{
    min-height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: 27rem auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 15vw;
    scroll-margin-top: 120px;

}
#home .img
{

    align-content: center;
    justify-items: center;
}
#home h2
{
    font-size: 4.3rem;
    max-width:100%;
    color:rgb(249, 232, 122);
    align-self: start;
    margin: 0;

    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;

}
#home h2 .acai
{
    font-size: 4.8rem;
}
#home p
{
    max-width: 100%;
    letter-spacing: 0.5px;
    font-size: 1.2rem;
    opacity: 0.9;
}
#home a
{
    margin-top: 1rem;
    background-color: #ffe66d;
    color: #3f1d63;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;

    padding: 0.5rem 0.8rem;
    font-size: 1.12rem;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    width: 7.5rem;
}

#home a:hover
{
    background-color: #ffd23f;
    color: #2b1445;
}

#home img
{
    display: block;
    width: 20rem;
    opacity: 0.9;
}

/*fim home*/

main h3
{
    font-size: 1.75rem;
    font-weight: 800;
    color: #ffe66d;
    margin-top: 4.4rem ;
}
main h4
{
    font-size: 1.22rem;
    font-weight: 700;
    margin: 0.5rem 0;
}
main p
{
    font-size: 0.78rem;
    opacity: 0.85;
    margin-bottom: 1rem;
}
.price {
    font-size: 0.88rem;
    font-weight: 700;
    color: #ffe66d;
    margin: 0.5rem;
}
.btn-pedido
{
    background: linear-gradient(135deg, #ffe66d, #ffd23f);
    color: #3f1d63;
    font-weight: bold;
    border: none;
    border-radius: 50px;

    padding: 0.6rem 1rem;
    font-size: 0.88rem;
    cursor: pointer;
    transition: 0.3s;
}
#destaques
{
    scroll-margin-top: 90px;
}
#acai , #sorvete, #milkshake
{
    scroll-margin-top: 180px;
}
.title {
    text-align: center;
    margin-bottom: 2.2rem;
}
.title p {
    font-size: 1.2rem;
}
h3::after {
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background-color: #ffe66d;
    margin: 1rem auto 0;
    border-radius: 999px;
}
.produtos
{
    display: flex;
    gap: 2vw;
    justify-content: center;
    margin-bottom: 1.25rem;
    text-align: center;

}

.caixa-prod
{
    background-color: #3f1d63;
    border-radius: 20px;
    padding: 1rem;
    width: 17vw;
    min-width: 12rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.147);

}
.caixa-prod img
{
    width: 100%;
    border-radius: 16px;
    margin-bottom: 12px;
}
/*fim main*/

/* footer */

footer
{
    margin-top: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p
{
    display: inline;
    color:#eeeeaf;
    font-size: 1rem;
    margin: 0.6rem;
    font-weight: 600;
}
footer img
{
    width: 25px;
    height: 25px;
}
/*fim footer*/

/*Pedido*/
#pedido 
{
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #d0aff5;
    color: #2b1445;
    width: 30%;
    margin: auto;
    border-radius: 20px;
    padding: 1.5rem;
    
}

#pedido h5
{
    font-size: 1.4rem;
    text-align: center;
    margin: 0;
}

input
{
    width: 1.4rem;
    border: none;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
}

.modal 
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-items: center;
    margin-left: 2rem;
    font-size: 0.9rem;
    font-weight: 500;
}
#pedido h6
{
    font-size: 0.9rem;
    margin: 0;
    margin-top: 0.2rem;
}
.modal .btn-pedido
{
    width: 45%;
}

/*alterações no primeiro momento que o layout quebra*/

@media(width < 59rem)
{
    header
    {
        grid-template-columns: auto auto;
    }
    #menu-btn
    {
        display: block;
    }
    nav 
    {
        display: none;
        text-align: center;
        position: absolute;
        z-index: 2;
        background-color:#f1f1a6;
        border-radius: 20px;
        top: 100%;
        left: 82%;
        transform: translateX(-50%);
        padding-left: 10px;
    }
    header nav ul
    {
        flex-direction: column;
        text-align: left;
        width: auto;
        gap: 0.8rem;
        padding: 0.2rem;
    }
    #menu.ativo
    {
        display: flex;
    }
    header a
    {
        font-size: 1.02rem;
        color: #2b1445;
        font-weight: 700;
    }
    
    #home
    {
        padding: 2rem;
        display: flex;
        flex-direction: column-reverse;
        gap: 1.5rem;
    }
    #home h2
    {
        font-size: 3.4rem;
        text-align: center;
    }
    #home h2 .acai
    {
        font-size: 3.8rem;
    }
    #home p
    {
        width: 90%;
        font-size: 0.9rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        
    }
    #home a 
    {
        margin-left: auto;
        margin-right: auto;
    }
    #home img
    {
        width: 17rem;
        padding: 0 2rem;
    }

    .produtos
    {
        width: 95%;
        gap: 12vw;
        margin: 0 auto;
        flex-wrap: wrap;
    }

}

@media(width < 28rem)
{
    header .logo
    {
        margin-left: 0;
    }
    header img
    {
        width: 2.5rem;
        margin: 0.4rem 0;    
    }
    header .logo h1
    {
        margin: 0 0.3rem 0 0;
        font-size: 1.5rem;
    }
    #menu-btn
    {
        display: block;
        width: 3.2rem;
        height: 3.2rem;
        margin-right: 0.9rem;
        padding-bottom: 0.37rem;
        
    }
    #menu-btn span 
    {
        height: 0.24rem;
        margin-top: 0.29rem;

    }
    nav 
    {
        left: 76%;
    }
    
    #menu.ativo
    {
        display: block;
    }

    #home h2 
    {
        font-size: 2.8rem;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    #home h2 .acai
    {
        font-size: 3.2rem;
    }
    #home img 
    {
        width: 14rem;
    }
}